@keyframes iconHidden {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@-webkit-keyframes iconHidden {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@-webkit-keyframes newMessageInvert {
    0% {
        -webkit-transform: translateX(-200px) scale(0);
        -moz-transform: translateX(-200px) scale(0);
        -ms-transform: translateX(-200px) scale(0);
        -o-transform: translateX(-200px) scale(0);
        transform: translateX(-200px) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        -moz-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
        -o-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-moz-keyframes newMessageInvert {
    0% {
        -webkit-transform: translateX(-200px) scale(0);
        -moz-transform: translateX(-200px) scale(0);
        -ms-transform: translateX(-200px) scale(0);
        -o-transform: translateX(-200px) scale(0);
        transform: translateX(-200px) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        -moz-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
        -o-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-o-keyframes newMessageInvert {
    0% {
        -webkit-transform: translateX(-200px) scale(0);
        -moz-transform: translateX(-200px) scale(0);
        -ms-transform: translateX(-200px) scale(0);
        -o-transform: translateX(-200px) scale(0);
        transform: translateX(-200px) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        -moz-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
        -o-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@keyframes newMessageInvert {
    0% {
        -webkit-transform: translate(-100px -100px) scale(0);
        -moz-transform: translate(-100px -100px) scale(0);
        -ms-transform: translate(-100px -100px) scale(0);
        -o-transform: translate(-100px -100px) scale(0);
        transform: translateX(-200px) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        -moz-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
        -o-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-webkit-keyframes newMessage {
    0% {
        -webkit-transform: translateX(200px) scale(0);
        -moz-transform: translateX(200px) scale(0);
        -ms-transform: translateX(200px) scale(0);
        -o-transform: translateX(200px) scale(0);
        transform: translateX(200px) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        -moz-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
        -o-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-moz-keyframes newMessage {
    0% {
        -webkit-transform: translateX(200px) scale(0);
        -moz-transform: translateX(200px) scale(0);
        -ms-transform: translateX(200px) scale(0);
        -o-transform: translateX(200px) scale(0);
        transform: translateX(200px) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        -moz-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
        -o-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-o-keyframes newMessage {
    0% {
        -webkit-transform: translateX(200px) scale(0);
        -moz-transform: translateX(200px) scale(0);
        -ms-transform: translateX(200px) scale(0);
        -o-transform: translateX(200px) scale(0);
        transform: translateX(200px) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        -moz-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
        -o-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@keyframes newMessage {
    0% {
        -webkit-transform: translateX(200px) scale(0);
        -moz-transform: translateX(200px) scale(0);
        -ms-transform: translateX(200px) scale(0);
        -o-transform: translateX(200px) scale(0);
        transform: translateX(200px) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        -moz-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
        -o-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-webkit-keyframes typingAnimation {
    0% {
        width: 6px;
        height: 6px;
        background: #fff
    }
    50% {
        width: 10px;
        height: 10px;
        background: #7c7a7c;
        margin: -2px 0 0 0px
    }
    100% {
        width: 6px;
        height: 6px;
        background: #fff
    }
}

@-moz-keyframes typingAnimation {
    0% {
        width: 6px;
        height: 6px;
        background: #fff
    }
    50% {
        width: 10px;
        height: 10px;
        background: #7c7a7c;
        margin: -2px 0 0 0px
    }
    100% {
        width: 6px;
        height: 6px;
        background: #fff
    }
}

@-o-keyframes typingAnimation {
    0% {
        width: 6px;
        height: 6px;
        background: #fff
    }
    50% {
        width: 10px;
        height: 10px;
        background: #7c7a7c;
        margin: -2px 0 0 0px
    }
    100% {
        width: 6px;
        height: 6px;
        background: #fff
    }
}

@keyframes typingAnimation {
    0% {
        width: 6px;
        height: 6px;
        background: #fff
    }
    50% {
        width: 10px;
        height: 10px;
        background: #7c7a7c;
        margin: -2px 0 0 0px
    }
    100% {
        width: 6px;
        height: 6px;
        background: #fff
    }
}
