.b-label-mobile ul.b-menu_list {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style-type: none
}
.b-mobile-overlay {
    display: none;
    z-index: -10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transition: background-color .2s
}
.b-label-mobile {
    margin: 0;
    border: 0 none;
    zoom: 1.0;
    opacity: 1;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    box-sizing: content-box;
    text-align: center;
    transition: opacity ease-out 290ms;
    padding: 1px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    user-select: none;
    overflow: visible;

    position: fixed;
    right: 1%;
    bottom: 1%;
    width: 55px;
    height: 55px;
    font-size: 1.4rem;
}
@media print {
    .b-label-mobile {
        display: none !important
    }
}
.b-label-mobile span {
    display: inline
}
.b-label-mobile ul {
    padding: 0;
    list-style: none;
    list-style-image: none
}

.b-label-mobile * {
    padding: 0;
    margin: 0;
    color: #595959;
    font: inherit;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    border: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    float: none;
    overflow: visible;
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none
}

.b-label-mobile .b-label-inner {
    background-color: #ffcc33;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    -webkit-box-shadow: 0 .12em .31em 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 .12em .31em 0 rgba(0, 0, 0, 0.26)
}
.b-label-mobile .b-label-inner:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit;
    overflow: hidden;
    -webkit-transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out
}
.b-label-mobile .b-label-inner:after {
    content: '\e84f';
    display: inline-block;
    font-family: "fontello" !important;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 2em;
    line-height: 1.9em;
    left: -1px;
    top: 0px;
    right: -1px;
    bottom: -1px;
    color: #fff;
    transition: transform .2s ease-in-out;
    transform: scale(0) rotate(90deg)
}
.b-label-mobile .b-label-touch {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.b-label-mobile .b-menu_list .b-menu__item {
    width: 100%;
    height: 100%;
    list-style-type: none;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    top: 50%;
    margin-top: -50%;
    transition: transform ease-out 200ms;
    border-radius: 100%;
    padding: 2%;
    box-sizing: border-box
}
.b-label-mobile .b-menu_list .b-menu__item:before {
    opacity: 0;
    content: attr(data-title);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    white-space: nowrap;
    right: 100%;
    font-size: .9em;
    line-height: 2em;
    padding: 0 .65em;
    top: 50%;
    margin-right: -2em;
    margin-top: -1em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    visibility: hidden;
    text-overflow: ellipsis;
    overflow: hidden
}
@media only screen and (max-device-width: 320px) and (-webkit-max-device-pixel-ratio: 2) {
    .b-label-mobile .b-menu_list .b-menu__item:before {
        max-width: 13em
    }
}
@media only screen and (device-width: 480px) and (-webkit-device-pixel-ratio: 1.5) {
    .b-label-mobile .b-menu_list .b-menu__item:before {
        max-width: 13em
    }
}
.b-label-mobile .b-menu_list .b-menu__item .b-menu__el {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transform: scale(.8);
    outline: none;
    width: 100%;
    height: 100%
}

.b-label-mobile .b-menu_list .b-menu__item .b-menu__el:before {
    font-size: 2.2em;
    line-height: 1.9em
}

.b-label-mobile .b-menu_list .b-menu__item_cnt {
    display: block;
    background: #ffcc33;
    border-radius: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.b-label-mobile .b-menu_list .b-menu__item:first-child {
    z-index: 25
}

.b-label-mobile .b-label-touch {
    display: none
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-label-inner {
    transition: transform ease-out 200ms;
    transform: scale(.8)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-label-inner:before {
    transition-duration: .2s;
    box-shadow: 0 0 0 2em #949394 inset
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-label-inner:after {
    transition-duration: .2s;
    transform: scale(1)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item {
    transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    transform: scale(1);
    font-family: verdana;
}


.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item:nth-of-type(1) {
    transition-duration: 190ms;
    transform: translateY(-100%)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item:nth-of-type(2) {
    transition-duration: 290ms;
    transform: translateY(-210%)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item:nth-of-type(3) {
    transition-duration: 390ms;
    transform: translateY(-320%)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item:nth-of-type(4) {
    transition-duration: 490ms;
    transform: translateY(-430%)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item:nth-of-type(5) {
    transition-duration: 590ms;
    transform: translateY(-540%)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item:nth-of-type(6) {
    transition-duration: 690ms;
    transform: translateY(-650%)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item:nth-of-type(7) {
    transition-duration: 790ms;
    transform: translateY(-760%)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item:nth-of-type(8) {
    transition-duration: 890ms;
    transform: translateY(-870%)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item:before {
    transition: visibility .2s .3s ease, opacity .2s .3s ease;
    opacity: 1;
    visibility: visible;
    margin-right: 20%
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item .b-menu__el {
    transform: scale(1)
}

.b-label-mobile.b-label-menu.s-widget--show-menu .b-menu_list .b-menu__item .b-menu__el:before {
    line-height: 1.8em
}

.b-label-mobile.b-label-menu:not(.s-widget--show-menu) .b-menu_list .b-menu__item_cnt {
    transition: transform ease-out 200ms
}

.b-label-mobile.b-label-menu:not(.s-widget--show-menu) .b-menu_list .b-menu__item_cnt.active {
    transform: scale(1)
}

.b-label-mobile.b-label-menu:not(.s-widget--show-menu) .b-menu_list .b-menu__item_cnt.notActive {
    transform: scale(0)
}

.b-label-mobile.b-label-menu .b-label-touch {
    display: block
}

.b-icon-mail {
    display: block;
    font-size: 1.5rem;
    margin-top: -0.3rem;
}

.b-icon-mail:before {
    font-family: 'fontello';
    vertical-align: baseline;
    font-weight: 400;
    font-style: normal;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    content: "\e823";
}
.b-icon-close {
    display: block;
    font-size: 1.5rem;
    margin-top: -0.3rem;
}
.b-icon-close:before {
    cursor: pointer;
    font-family: 'fontello';
    vertical-align: baseline;
    font-weight: 400;
    font-style: normal;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    content: "\e84f";
}
.b-icon-phone {
    width: 3.4rem;
    height: 3.4rem;
    //margin-top: 0.8rem;
    display: inline-block;
    background: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2234px%22%20height%3D%2234px%22%20viewBox%3D%220%200%2034%2034%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20sketchtool%203.4%20(375)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3ECall%20Copy%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20sketchtool.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22%D1%85-%D0%B2%D0%B8%D0%B4%D0%B6%D0%B5%D1%82_04%22%20sketch%3Atype%3D%22MSArtboardGroup%22%20transform%3D%22translate(-285.000000%2C%20-483.000000)%22%20fill%3D%22%23fff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22%2B-copy-2%22%20sketch%3Atype%3D%22MSLayerGroup%22%20transform%3D%22translate(207.000000%2C%20440.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22%D0%98%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0-%D0%BD%D0%B0%D1%87%D0%B0%D1%82%D1%8C-%D1%87%D0%B0%D1%82%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M111.064154%2C69.6647745%20L110.900418%2C69.1655249%20C110.507229%2C67.9931299%20109.225185%2C66.770249%20108.045616%2C66.448261%20L103.681544%2C65.2478183%20C102.497519%2C64.9235866%20100.810034%2C65.3600092%2099.9456846%2C66.2317326%20L98.3662426%2C67.8225997%20C92.6265636%2C66.2597803%2088.125488%2C61.7261456%2086.5750061%2C55.9460698%20L88.1544481%2C54.3552027%20C89.0199111%2C53.4834793%2089.4531995%2C51.7849089%2089.1324101%2C50.5923196%20L87.9428163%2C46.1944358%20C87.620913%2C45.0018464%2086.4045867%2C43.7105291%2085.2428392%2C43.3189828%20L84.7449474%2C43.1506964%20C83.5809721%2C42.760272%2081.9213328%2C43.155184%2081.054756%2C44.0269074%20L78.6933899%2C46.4087205%20C78.2701261%2C46.8316802%2078.0016878%2C48.0410982%2078.0016878%2C48.0455859%20C77.9192628%2C55.6005218%2080.858718%2C62.8828339%2086.1662224%2C68.2242432%20C91.4592468%2C73.5555553%2098.6591856%2C76.5140296%20106.138701%2C76.4500808%20C106.177686%2C76.4500808%20107.414062%2C76.1830664%20107.835098%2C75.7601067%20L110.196464%2C73.3805374%20C111.059699%2C72.5121798%20111.452889%2C70.8371695%20111.064154%2C69.6647745%20L111.064154%2C69.6647745%20L111.064154%2C69.6647745%20Z%22%20id%3D%22Call-Copy%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.8em;
}