*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
    font-size: 10px;
}
body {
    font-size: 1.4rem;
    color: #000;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility:hidden;
}

/*clearfix Olsen*/
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix{
    display:inline-block;
}
/**//*\*/
* html .clearfix{
    height:1%;
}
.clearfix{
    display:block;
}
/**/
/*end clearfix*/