@font-face {
    font-family: "ws";
    src: url("/fonts/fontWs/ws.eot");
    src: url("/fonts/fontWs/ws.eot?#iefix") format("embedded-opentype"),
    url("/fonts/fontWs/ws.woff") format("woff"),
    url("/fonts/fontWs/ws.ttf") format("truetype"),
    url("/fonts/fontWs/ws.svg#livetex") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello-67f238b5/font/quote.eot?29996210');
    src: url('/fonts/fontello-67f238b5/font/quote.eot?29996210#iefix') format('embedded-opentype'),
    url('/fonts/fontello-67f238b5/font/quote.woff?29996210') format('woff'),
    url('/fonts/fontello-67f238b5/font/quote.ttf?29996210') format('truetype'),
    url('/fonts/fontello-67f238b5/font/quote.svg?29996210#phone') format('svg');
    font-weight: normal;
    font-style: normal;
}
