/*
Классы состояния
*/
.s-hide{
    display: none;
    z-index: 1;
}
.s-show{
    display: block;
    z-index: 3;
}
.s-widget--hidden {
    display: none !important;
    opacity: 0;
    visibility: hidden;
    z-index: -20
}

.s-widget--active {
    display: block
}
// зависимый класс
.s-widget--show-menu{}

// ошибка для форм
.s-form_error {
    border-color: red !important;
    box-shadow: 0px 0px 0px 1px red;
    border-radius: 3px;
    transition: border .2s ease-in-out 0s, box-shadow .2s ease-in-out 0s;
    color: red;
}

.s-show_ico {
    z-index: 99;
}
.s-hide_ico {
    z-index: -1;
}