
<div class="b-widget-mobile-wrap s-widget--hidden js-form-show"> <!--s-widget--hidden-->
        <div class="b-widget-mobile-component s-widget--active">

            <div class="b-widget_mobile_call__header ">

                <div class="b-widget_mobile_call__header__wrap">
                    <div class="b-widget_mobile_call__header__controll">
                        <div class="b-icon-close b-widget_mobile_call__header__close js-mobile_call--close"></div>
                    </div>
                    <div class="b-widget_mobile_call__header__cnt ">Оставить заявку</div>
                </div>
            </div>

            <div class="b-widget-mobile-component__status">
                <span class="b-widget-mobile-component__status_cnt">Спасибо! Ваши данные получены</span>
            </div>

            <div class="b-widget-mobile-component__cnt ">
                <div class="b-widget-mobile-component__notify">
                    Оставьте Ваши контактные данные и Ваш вопрос и мы свяжемся с Вами в самое ближайшее время
                </div>
                <form class="s-widget--hiddenr" >
                    <label class="b-el__label">
                        <input class="b-el__input" type="text" value="" name="name" valid-type="name" placeholder="Имя" data-q-template="visitor-name">
                    </label>
                    <label class="b-el__label ">
                        <input class="b-el__input" type="text" value="" name="emailPhone" valid-type="email-phone" required="" placeholder="E-mail или телефон" data-q-template="visitor-emailPhone">
                    </label>
                    <label class="b-el__label">
                        <textarea class="b-el__textarea " required="required" maxlength="2000" type="text" value="" name="message" rows="3" placeholder="Введите сообщение"></textarea>
                    </label>
                    <div class="">
                        <button type="button" class="b-bttn" href="">Отправить</button>
                    </div>
                </form>
            </div>

        </div> <!--s-widget--active-->
    </div>
<div class=" b-label-mobile  b-label-menu  js-menu-show"><!--s-widget--show-menu-->
    <div class="b-label-inner"></div>

    <ul class="b-menu_list ">
        <li class="b-menu__item js-menu__el" data-title="{%=o.phoneTitle%}" >
            <a href="tel:{%=o.phone%}" class="b-menu__item_cnt">
                <span class="b-menu__el  b-icon-phone "></span>
            </a>
        </li>

        <li class="b-menu__item js-menu__el js-mail_form-show" data-title="{%=o.mailTitle%}" >
            <span class="b-menu__item_cnt">
                <span class="b-menu__el b-icon-mail "></span>
            </span>
        </li>

    </ul>
    <div class="b-label-touch js-toush"></div>
</div>
<div class="b-mobile-overlay "></div>